.a
{
    width:200px;
    height:150px;
    position:relative;
    left:50px;
    background-color:blue;

}
.b
{
    width:200px;
    height:200px;
    position:relative;
    left:80px;
    top:20px;
    background-color:black;
}
h1{
    position:relative;
    top:80px;
}